@font-face {
    font-family: 'Kaushan Script';
    src: url('ruta/a/tu/fuente/KaushanScript-Regular.ttf') format('truetype');
}

* {
    box-sizing: border-box;
}

@keyframes rotate {
    100% {
        background-position: 25% 50%;
    }
}

body {
    display: grid;
    place-items: center;
    margin: 0;
    height: 100vh;
    padding: 0 24px;
    background-image: url("../img/tacos.png");
    background-size: cover;
    font-family: 'Kaushan Script', cursive;
    color: #000;
    animation: rotate 5s infinite alternate linear;
}

@media (width >=500px) {
    body {
        padding: 0;
    }
}

.login {
    position: fixed;
    z-index: 3;
    width: 100%;
    max-width: 350px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #ffffff;
    text-align: center;
}

@media (width >=500px) {
    .login {
        width: 100%;
    }
}

@media (width >=1000px) {
    .login {
        top: 0;
        right: 0;
        left: auto;
        translate: 0 0;
        margin: 0;
        height: 100%;
        width: 30%;
        border-radius: 0;
        padding-top: 240px;
    }

}

.login #user {
    width: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 20px;
}

.login h2 {
    color: #E4007D;
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 30px;
}

.form input,
.form button {
    margin-top: 10px;
    height: 56px;
    width: 100%;
    outline: none;
    padding: 0 15px;
    border-radius: 30px;
    font-family: inherit;
}

.form input {
    background: #d9d9d9;
    border: 0;
    position: relative;
}

.form button {
    cursor: pointer;
    display: inline-block;
    height: 56px;
    background: #E4007D;
    color: #f9f9f9;
    border: 0;
    letter-spacing: 2px;
}

.olv {
    margin: 0;
    font-size: 16px;
    text-align: right;
    text-decoration: none;
    padding-top: 25px;
}

a {
    color: #000000;
}

.btn:focus,
.btn:active {
    outline: 0;
    transform: scale(.98);
}

.password-container {
    position: relative;
    display: inline-block;
    width: 100%;
}

#eye-icon {
    position: absolute;
    height: 60%;
    top: 50%;
    transform: translateY(-40%);
    right: 8px;
    opacity: 0.3;
    cursor: pointer;
}

#eye-icon:hover {
    opacity: 0.8;
}

input[type="password"] {
    padding-right: 30px;
}